# Homework 3: SQL

## Section 1: Multiple Choice/Choose all that apply

### Some Clarifications for Question 1:
- The "wrong number of duplicates" and "out of order" options refer specifically to the case where we have all of the correct rows and none of the wrong rows.
- "Incorrect schema" refers to an issue with the columns that are in the output

#### Do the following queries achieve the goal of finding all of the continents (without duplicates)?

The tables being used in these queries follow the schemas:

**countries** : (country_id, name, continent, gdp, primary key (country_id))

**cities** : (city_id, name, country_id, primary key (city_id), foreign key (country_id) references countries)

**travelers** : (tid, name, arrived, dest_id, primary key (tid, arrived), foreign key (dest_id) references cities)

### Question 1A

SELECT DISTINCT continent\
FROM countries;

**Does this query achieve the goal of finding all of the continents (without duplicates)?**


- (A) Correct query

- (B) Incorrect output (no correct rows at all or contains both false negatives and false positives)

- (C) Incorrect schema (query fails during execution or outputs wrong columns)

- (D) Output may be missing rows from the correct answer (false negatives, i.e. some (but not all) correct rows are missing)

- (E) Output may contain incorrect rows (false positives, i.e. some (but not all) rows are incorrect)

- (F) Output may have the wrong number of duplicates (the output contains all of the correct rows and none of the incorrect rows).

- (G) Output may not be ordered properly (the output contains all of the correct rows and none of the incorrect rows).

In [ ]:
ans1a = "type answer here"
print(ans1a)

### Question 1B

SELECT continent\
FROM countries;

**Does this query achieve the goal of finding all of the continents (without duplicates)?**


- (A) Correct query

- (B) Incorrect output (no correct rows at all or contains both false negatives and false positives)

- (C) Incorrect schema (query fails during execution or outputs wrong columns)

- (D) Output may be missing rows from the correct answer (false negatives, i.e. some (but not all) correct rows are missing)

- (E) Output may contain incorrect rows (false positives, i.e. some (but not all) rows are incorrect)

- (F) Output may have the wrong number of duplicates (the output contains all of the correct rows and none of the incorrect rows).

- (G) Output may not be ordered properly (the output contains all of the correct rows and none of the incorrect rows).

In [ ]:
ans1B = "type answer here"
print(ans1B)

### Question 1C

SELECT continent\
FROM countries\
GROUP BY continent;

**Does this query achieve the goal of finding all of the continents in the table (without duplicates)?**


- (A) Correct query

- (B) Incorrect output (no correct rows at all or contains both false negatives and false positives)

- (C) Incorrect schema (query fails during execution or outputs wrong columns)

- (D) Output may be missing rows from the correct answer (false negatives, i.e. some (but not all) correct rows are missing)

- (E) Output may contain incorrect rows (false positives, i.e. some (but not all) rows are incorrect)

- (F) Output may have the wrong number of duplicates (the output contains all of the correct rows and none of the incorrect rows).

- (G) Output may not be ordered properly (the output contains all of the correct rows and none of the incorrect rows).

In [ ]:
ans1C = "type answer here"
print(ans1C)

### Question 1D

SELECT continent\
FROM countries\
GROUP BY continent\
HAVING count(*) > 1;

**Does this query achieve the goal of finding all of the continents (without duplicates)?**


- (A) Correct query

- (B) Incorrect output (no correct rows at all or contains both false negatives and false positives)

- (C) Incorrect schema (query fails during execution or outputs wrong columns)

- (D) Output may be missing rows from the correct answer (false negatives, i.e. some (but not all) correct rows are missing)

- (E) Output may contain incorrect rows (false positives, i.e. some (but not all) rows are incorrect)

- (F) Output may have the wrong number of duplicates (the output contains all of the correct rows and none of the incorrect rows).

- (G) Output may not be ordered properly (the output contains all of the correct rows and none of the incorrect rows).

In [ ]:
ans1D = "type answer here"
print(ans1D)

### Question 2A: 

SELECT cities.name \
FROM cities, travelers\
WHERE city_id = dest_id \
GROUP BY cities.name, cities.city_id\
ORDER BY count(*) desc\
LIMIT 1;\

**Does this query achieve the goal of finding the name(s) of the most traveled to city(s)?**

- (A) Correct query

- (B) Incorrect output (no correct rows at all or contains both false negatives and false positives)

- (C) Incorrect schema (query fails during execution or outputs wrong columns)

- (D) Output may be missing rows from the correct answer (false negatives, i.e. some (but not all) correct rows are missing)

- (E) Output may contain incorrect rows (false positives, i.e. some (but not all) rows are incorrect)

- (F) Output may have the wrong number of duplicates (the output contains all of the correct rows and none of the incorrect rows).

- (G) Output may not be ordered properly (the output contains all of the correct rows and none of the incorrect rows).

In [ ]:
ans2A = "type answer here"
print(ans2A)

### Question 2B: 

SELECT cities.name \
FROM cities, travelers\
WHERE city_id = dest_id \
GROUP BY cities.name, cities.city_id\
HAVING count(*) > 1;\

**Does this query achieve the goal of finding the name(s) of the most traveled to city(s)? For this question only, assume that the top city/cities are visited > 1 time.**



- (A) Correct query

- (B) Incorrect output (no correct rows at all or contains both false negatives and false positives)

- (C) Incorrect schema (query fails during execution or outputs wrong columns)

- (D) Output may be missing rows from the correct answer (false negatives, i.e. some (but not all) correct rows are missing)

- (E) Output may contain incorrect rows (false positives, i.e. some (but not all) rows are incorrect)

- (F) Output may have the wrong number of duplicates (the output contains all of the correct rows and none of the incorrect rows).

- (G) Output may not be ordered properly (the output contains all of the correct rows and none of the incorrect rows).

In [ ]:
ans2B = "type answer here"
print(ans2B)

### Question 2C: 

SELECT cities.name, count(*)\
FROM cities, travelers\
WHERE city_id = dest_id\
GROUP BY dest_id\
ORDER BY count(*) desc\
LIMIT 1;\

**Does this query achieve the goal of finding the name(s) of the most traveled to city(s)?**



- (A) Correct query

- (B) Incorrect output (no correct rows at all or contains both false negatives and false positives)

- (C) Incorrect schema (query fails during execution or outputs wrong columns)

- (D) Output may be missing rows from the correct answer (false negatives, i.e. some (but not all) correct rows are missing)

- (E) Output may contain incorrect rows (false positives, i.e. some (but not all) rows are incorrect)

- (F) Output may have the wrong number of duplicates (the output contains all of the correct rows and none of the incorrect rows).

- (G) Output may not be ordered properly (the output contains all of the correct rows and none of the incorrect rows).

In [1]:
ans2C = "type answer here"
print(ans2C)

type answer here

### Question 3: Select ALL that are TRUE

- (a) a natural join attempts to join two tables on their columns that have the same name
- (b) aggregates can be used in a WHERE clause (ie. where COUNT(*)=4)
- (c) aggregates require a GROUP BY clause
- (d) HAVING is like a WHERE clause however it only applies to the groups creates in the GROUP BY clause
- (e) X LEFT OUTER JOIN Y is equal to Y right outer join X for queries that explicitly SELECT columns
- (f) Tables must be reference by their full names rather than aliases

In [ ]:
ans3 = "type answer here in this format: e.g. a, b, c"
print(ans3)

## Section 2: Fill in the Blanks

Given two relations with their schema:

- **Polls**(INT measure, TEXT state, TEXT county, INT yes_votes, INT estimated_voters, BOOL estimated_win)

- **Measures**(INT id, TEXT proposed_by, INT money_required)

### Question 4: 

Lakshya wants to start by calculating the total number of counties from California that have data available.

SELECT _______(4a)_________\
FROM Polls\
WHERE _______(4b)_____

In [ ]:
#FIRST BLANK
ans4a = "type answer here"
print("First Blank: " + ans4a)

In [ ]:
#SECOND BLANK
ans4b = "type answer here"
print("Second Blank: " + ans4b)

### Question 5:

Lakshya is a bit suspect of the number of measures proposed by a “David Chu” that are asking for money to purchase swag for the Sky Lab. Help him write a query that counts the amount of money requested for each measure by “David Chu” that has at least 50 polls with an estimated win.
Note: there is exactly one row for each measure in the Measures table

SELECT measure.id, measure.money_required\
FROM ___________(5a)___________\
______________(5b)________\
______________(5c)________\
_______________(5d)_______

In [ ]:
#FIRST BLANK
ans5a = "type answer here"
print("First Blank: " + ans5a)

In [ ]:
#SECOND BLANK
ans5b = "type answer here"
print("Second Blank: " + ans5b)

In [ ]:
#THIRD BLANK
ans5c = "type answer here"
print("Third Blank: " + ans5c)

In [ ]:
#FOURTH BLANK
ans5d = "type answer here"
print("Fourth Blank: " + ans5d)

## Question 5:

Given the table **Logs**

+-------------+---------+\
| Column Name | Type    |\
+-------------+---------+\
| id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| int&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|\
| num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| varchar |\
+-------------+---------+\
**id** is the **primary key** for this table.\
**id** is an autoincrement column.

Write an SQL query to find all numbers that appear at least three times consecutively.

Return the result table in any order.

The query result format is in the following example.

In [3]:
# Write Answer Here

### Example Input and Output

Input: \
Logs table:\
+----+-----+\
| id&nbsp;&nbsp;&nbsp;&nbsp;| num&nbsp;|\
+----+-----+\
| 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|\
| 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|\
| 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|\
| 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|\
| 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|\
| 6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|\
| 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|\
+----+-----+\
Output: \
+---------------------+\
| ConsecutiveNums |\
+---------------------+\
| 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|\
+---------------------+\
Explanation: 1 is the only number that appears consecutively for at least three times.

**yay ur done!**